html {
    background-color: rgb(223, 223, 223);
}
body.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
form.login {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 370px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.email {
    border: none;
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
    color:rgb(163, 163, 163);
    text-align: center;
    width: 230px;
    height: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.enviar {
    color: aliceblue;
    background-color: rgb(67, 67, 255);
    width: 230px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,2);
    border: none;
}
body {
    font-family: roboto, sans-serif;
}
.nome, .idade, .mora {
    border-radius: 10px;
    height: 35px;
    width: 230px;
    text-align: center;
    background-color: rgb(228, 228, 228);
    border: none;
}
.nome {
    color:rgb(163, 163, 163);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
hr {
    width: 250px;
}
.introdução {
    text-align: left;
    margin: 20px;
    font-family: reboto, sans-serif;
}
.htmlicon {
    width: 300px;
    height: 350px;
    text-align: center;
    font-family: reboto, sans-serif;
    border: none;
}
.cssicon {
    width: 100px;
    height: 100px;
    text-align: center;
    font-family: reboto, sans-serif;
    border: none;
}
button.html, button.imgcss {
    border-radius: 10px;
    width: 300px;
    height: 350px;
    text-align: center;
    font-family: reboto, sans-serif;
    color:rgb(104, 104, 104);
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: relative;
}

.cabeçalho {
    background-color: #3837b6;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#logo {
    padding: 5px;
    border-color: #3837b6;
}
.sair {
    border-radius: 5px;
    border: none;
    position: absolute;
    right: 20px;
    top: 18px;
}

.linguagens {
    position: absolute;
    right: center;
    top: center

}

/** border-radius: 10px;
    width: 300px;
    height: 350px;
    text-align: left;
    font-family: reboto, sans-serif;
    color:rgb(104, 104, 104);
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); **/