body {
    margin: 0;
    height: 100vh;
    background: whitesmoke;
    }

form {
    justify-content: center; 
    align-items: center;   
    font-family: Arial, sans-serif;
    }
header {
    padding: 20px;
    background-color: #1a8000;
    color: white;
    }

footer {
    padding: 20px;
    background-color: #428000;
    color: white;
    }
    
.topo-página {
    background-color: rgb(221, 220, 220);
}

.IFRN {
    height: 100px;
}

h1 {
    font-style: normal;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serifç; 
}

.container {
  display: flex;
  gap: 10px; /* espaço entre as divs */
}

#divr, #divc, #divl {
  width: 275px;
  height: 40%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#divr {
  text-align: right;
}

#divc {
  text-align: center;
}

#divl {
  text-align: left;
}

h2 {
    background-color: rgb(38, 141, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}